<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Sysconsigna | Faça mais rápido</title>
<link href="imgs/gs.ico" rel="icon" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="../css/tabless.css">
</head>
<body>
	<header class="clearfix">
		
	</header>
	<section class="home clearfix">
		<img src="../img/logo.png" alt="SYSCONSIGNA">
		<h1>Encontramos problemas no acesso</h1>
		<p>› Sua conexão pode ter expirado <span>se ficou em inatividade por mais de 30 minutos.</span></p>
		<p>› O servidor está desconectado, verifique sua conexão com a internet.</p>
		<form class="half" style="margin-top:50px" id="form" name="form" action="logar.php" method="post">
			<fieldset>
			<legend class="int">Refaça seu login</legend>
			<label class="int clearfix">Login: <input class="int" name="user" type="text" tabindex="0" autofocus="autofocus"></label>
			<label class="int clearfix">Senha: <input class="int" name="passwd" type="password" ></label>
			</fieldset>
			<label class="int clearfix"><input class="half right" type="Submit" value="Entrar"></label>
		</form>
	</section>
	<footer class="int">
		<!-- 
		<address><a href="http://www.gdy.com.br" target="_blank" >GDY Tecnologia Empresarial ©2015 • 11.3888-3280</a></address>
		 -->
	</footer>
</body>
</html>