<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Portal Troquestoque</title>
<link rel="stylesheet" type="text/css" href="css/tabless.css">
<link rel="stylesheet" type="text/css" href="css/sweet-alert.css">
<link rel="stylesheet" type="text/css" href="css/jquery-ui-1.8.16.custom.css">
</head>
<body>
	<header >
		<img src="img/logo.png" alt="TROQUESTOQUE">
	</header>
	{MainMenu}
</body>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.js"></script>
<script type="text/javascript" src="js/sweet-alert.js"></script>
<script type="text/javascript" src="js/global.js"></script>
<script type="text/javascript" src="js/jquery.mask.min.js"></script>
<script type="text/javascript" src="js/formulario.js"></script>
<script type="text/javascript">

</script>
</html>