<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no; maximum-scale=1.0;">
<title>troquestoque</title>
<link href="imgs/gs.ico" rel="icon" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
<link rel="stylesheet" type="text/css" href="css/sweet-alert.css">
<link rel="stylesheet" type="text/css" href="css/jquery-ui-1.8.16.custom.css">
</head>
<body>
	<header class="clearfix">
		<img src="img/logo.png" alt="SYSCONSIGNA">
		{MainMenu}
	</header>
	<section class="clearfix" id = "Topo">
	{MenuLeft}
	<form class="part">
	<fieldset>
		<legend class="int">Ferragens</legend>
		<table class="tabelas" id="tblConsulta">
			<thead>
				<tr>
					<th>Cerezo Leon</th>
				</tr>
			</thead>
			<tbody>
			
			</tbody>
		</table>
	</fieldset>
</form>
	</div>
	</section>
	<footer class="int">
	</footer>
</body>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.js"></script>
<script type="text/javascript" src="js/sweet-alert.js"></script>
<script type="text/javascript" src="js/global.js"></script>
<script type="text/javascript" src="js/jquery.mask.min.js"></script>
<script type="text/javascript" src="js/formulario.js"></script>
