<form class="oct left" id="form" name="menu" action="" method="post">
	<fieldset>
		<legend class="int">Menu</legend>
		<a href="load.php?Arg=Anunciar"><input class="int"  type = "button" id = "Login" value="Anunciar" ></a>
		<a href="load.php?Arg=Chapas"><input class="int" type = "button" id="Chapas" value="Chapas"></a>
		<a href="load.php?Arg=Ferragens"><input class="int" type = "button" id="Ferragens" value="Ferragens"></a>
		<a href="load.php?Arg=Outros"><input class="int" type = "button" id="Outros" value="Outros"></a>
	</fieldset>
</form>
